<!-- <div id="home"> -->
<div id="home" ng-controller="homeCtrl as home">


	<!-- {{home.mapCenter}} -->

	<ng-map center="[40.432866, -3.7079987]">
		<span ng-repeat="p in home.stations.data track by $index">
			<custom-marker id="custom-marker-{{$index}}" position="[{{p.latitud_decimal}}, {{p.longitud_decimal}}]">
				<!-- <a class="btr-marker" ng-click="home.goTo([p.latitud_decimal, p.longitud_decimal], p.id)"> -->
				<a class="btr-marker" ui-sref="station({id: p.id})">
					{{p.nombre_estacion}}
				</a>
			</custom-marker> 
			<!-- <marker id="custom-marker-{{$index}}" position="[{{p.latitud_decimal}}, {{p.longitud_decimal}}]"></marker> -->
	    </span>
	</ng-map>
	<!-- <ng-map center="home.mapCenter" default-style="false"></ng-map> -->

	<search></search>

</div>