<!-- <div id="search" class="over-view">	 -->
<div id="search" class="" ng-controller="searchCtrl as search">	
	
	<div class="mdl-textfield mdl-js-textfield box-card" ng-init="search.update()">
		<input class="mdl-textfield__input" type="text" ng-model="searchText" id="searchStation" ng-focus="focused = true">
		<label class="mdl-textfield__label" for="searchStation">Buscar estación...</label>
	</div>

	<div class="search-sugestions" ng-show="focused" ng-click="focused = false">
		<div ng-repeat="station in stations.data | filter: searchText" class="search-sugestion-item" ui-sref="station({id: station.id})">
			<strong>{{station.nombre_estacion}}</strong><br>
			<span>{{station.direccion}}</span>
		</div>
	</div>

</div>